modules/examples/mlops-stepfunctions/state_machine.json
{
    "StartAt": "ValidateInput",
    "States": {
      "ValidateInput": {
        "Resource": "arn:aws:states:::lambda:invoke",
        "Parameters": {
          "FunctionName": "MyLambdaFunction"
        },
        "Type": "Task",
        "Next": "CheckPreProcessingRun"
      },
      "CheckPreProcessingRun": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.preprocessing.run",
            "BooleanEquals": true,
            "Next": "PreProcessingJob"
          }
        ],
        "Default": "CheckTrainingRun"
      },
      "PreProcessingJob": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sagemaker:createProcessingJob",
        "Parameters": {
          "AppSpecification": {
            "ImageUri": "737474898029.dkr.ecr.sa-east-1.amazonaws.com/sagemaker-scikit-learn:0.20.0-cpu-py3"
          },
          "ProcessingResources": {
            "ClusterConfig": {
              "InstanceCount": 1,
              "InstanceType": "ml.t3.medium",
              "VolumeSizeInGB": 10
            }
          },
          "RoleArn": "arn:aws:iam::123456789012:role/SM-003-CreateProcessingJobAPIExecutionRole",
          "ProcessingJobName.$": "$.id"
        },
        "Next": "CheckTrainingRun"
      },
      "CheckTrainingRun": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.training.run",
            "BooleanEquals": true,
            "Next": "TrainingJob"
          }
        ],
        "Default": "CheckSaveModel"
      },
      "TrainingJob": {
        "Resource": "arn:aws:states:::sagemaker:createTrainingJob.sync",
        "Parameters": {
          "AlgorithmSpecification": {
            "TrainingImage": "<SAGEMAKER_TRAINING_IMAGE>",
            "TrainingInputMode": "File"
          },
          "OutputDataConfig": {
            "S3OutputPath": "s3://<S3_BUCKET>/models"
          },
          "StoppingCondition": {
            "MaxRuntimeInSeconds": 86400
          },
          "ResourceConfig": {
            "InstanceCount": 1,
            "InstanceType": "ml.m5.xlarge",
            "VolumeSizeInGB": 30
          },
          "RoleArn": "<SAGEMAKER_EXECUTION_ROLE_ARN>",
          "InputDataConfig": [
            {
              "DataSource": {
                "S3DataSource": {
                  "S3DataDistributionType": "ShardedByS3Key",
                  "S3DataType": "S3Prefix",
                  "S3Uri": "s3://<S3_BUCKET>/csv/train.csv"
                }
              },
              "ChannelName": "train",
              "ContentType": "text/csv"
            }
          ],
          "HyperParameters": {
            "objective": "reg:logistic",
            "eval_metric": "rmse",
            "num_round": "5"
          },
          "TrainingJobName.$": "$$.Execution.Name"
        },
        "Type": "Task",
        "Next": "CheckSaveModel"
      },
      "CheckSaveModel": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.model.save",
            "BooleanEquals": true,
            "Next": "CreateModel"
          }
        ],
        "Default": "CheckBatchTranformation"
      },
      "CreateModel": {
        "Parameters": {
          "PrimaryContainer": {
            "Image": "<SAGEMAKER_TRAINING_IMAGE>",
            "Environment": {},
            "ModelDataUrl.$": "$.ModelArtifacts.S3ModelArtifacts"
          },
          "ExecutionRoleArn": "<SAGEMAKER_EXECUTION_ROLE_ARN>",
          "ModelName.$": "$.TrainingJobName"
        },
        "Resource": "arn:aws:states:::sagemaker:createModel",
        "Type": "Task",
        "Next": "CheckBatchTranformation"
      },
      "CheckBatchTranformation": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.batchtransform.run",
            "BooleanEquals": true,
            "Next": "BatchTransform"
          }
        ],
        "Default": "Pass"
      },
      "BatchTransform": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sagemaker:createTransformJob.sync",
        "Parameters": {
          "ModelName.$": "$$.Execution.Name",
          "TransformInput": {
            "CompressionType": "None",
            "ContentType": "text/csv",
            "DataSource": {
              "S3DataSource": {
                "S3DataType": "S3Prefix",
                "S3Uri": "s3://<S3_BUCKET>/csv/test.csv"
              }
            }
          },
          "TransformOutput": {
            "S3OutputPath": "s3://<S3_BUCKET>/output"
          },
          "TransformResources": {
            "InstanceCount": 1,
            "InstanceType": "ml.m5.xlarge"
          },
          "TransformJobName.$": "$$.Execution.Name"
        },
        "Next": "Pass"
      },
      "Pass": {
        "Type": "Pass",
        "End": true
      }
    }
  }